.intro-wrapper {
  background-color: rgba(93, 167, 218, 0.26);
  border-radius: 7px;
  margin-top: rem(170);
  p {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: rem(20px);
    line-height: rem(24px);
    color: #3b3089;
  }
}
