.feature-wrapper {
  margin-top: rem(300px);
  .feature {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: right;
    .feature-right {
      &_exclusive,
      &_desc {
        font-size: rem(20px);
        font-weight: 700;
        line-height: rem(24px);
      }
      &_title {
        font-size: rem(50px);
        line-height: rem(60px);
        color: #3b3089;
      }
      &_exclusive {
        color: #5da7da;
      }
      &_desc {
        font-weight: 300;
        color: #3b3089;
      }
    }
  }
}
