.comparision {
  flex-shrink: 0;
}
.comparision-title,
.comparision-desc,
list-service_title {
  color: rgba(30, 30, 30, 0.67);
  text-align: center;
  font-family: 'Outfit', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 97.5%;
}

.comparision-desc {
  font-size: rem(16px);
  color: rgba(30, 30, 30, 0.67);
  font-weight: 400;
}

.comparision-service {
  margin-top: rem(39px);
}

.list-service {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  &_icon-left,
  &_icon-right {
    font-size: rem(16px);
  }
  &_title {
    font-size: rem(20px);
    color: #1e1e1e;
  }
  &:not(:last-child) {
    margin-bottom: 35px;
  }
}
